*.[oa]
*.bit
*.log
*.swp
*.elf
*.bin
boards/milkymist-one/synthesis/build
boards/milkymist-one/synthesis/build-rescue
boards/milkymist-one/standby/build
boards/milkymist-one/flash/soc-rescue.fpg
boards/milkymist-one/flash/soc.fpg
boards/milkymist-one/flash/splash-rescue.raw
boards/milkymist-one/flash/splash.raw
boards/milkymist-one/flash/standby.fpg
software/demo/boot.fbi
software/demo/logo.h
software/demo/logo.raw
software/libfpvm/parser.c
software/libfpvm/parser.h
software/libfpvm/parser.out
software/libfpvm/scanner.c
software/libhal/softusb-input.h
tools/bin2hex
tools/byteswap
tools/flterm
tools/makeraw
tools/mkmmimg
